## Common Config
role.name=
node.idx=
rpc.port=0
store.node.count=1
frontend.node.count=1
coordinator.node.count=1
partition.count=4
discovery.mode=zookeeper

## Coordinator Config
log.recycle.enable=true
file.meta.store.path=./meta

## Store Config
store.data.path=./data

## Zk Config
zk.base.path=/graphscope/groot
zk.connect.string=localhost:2181

## Kafka Config
kafka.servers=localhost:9092
kafka.topic=groot

## Frontend Config
gremlin.server.port=12312

log4rs.config=LOG4RS_CONFIG

neo4j.bolt.server.disabled=true

pegasus.worker.num=2
pegasus.hosts=localhost:8080

kafka.test.cluster.enable=true