# Python
__pycache__/
*.pyc
.ipynb_checkpoints
*.egg-info/
*.eggs
python/*.eggs

# coordinator
coordinator/proto

# python
python/proto

# Gar file
*.gar

# dot file
*.dot

# swp file
*.swp

# Protobuf GRPC
*.pb.*
*_pb2.py
*_pb2.pyi
*_pb2_grpc.py
*_pb2_grpc.pyi

# Visual Studio Code
.vscode/
.project
.classpath
.factorypath
.settings

# Mac OSX
.DS_store

# CLion
.idea/
cmake-build-*/
**/*.iml
**/target/

# Workspace
workspace/

# generated_docs
docs/source/reference/
docs/reference/generated/
docs/reference/networkx/generated/
docs/_build/
docs/flex/interactive/development/java/*
!docs/flex/interactive/development/java/*Api.md
!docs/flex/interactive/development/java/java_sdk.md
docs/flex/interactive/development/python/*
!docs/flex/interactive/development/python/*Api.md
!docs/flex/interactive/development/python/python_sdk.md
docs/flex/interactive/development/restful_api.html
docs/flex/coordinator/development/python/*

analytical_engine/build/

# etcd data directory
default.etcd/

# outer build directory
build/

interactive_engine/rust-common/src/proto/*
!interactive_engine/rust-common/src/proto/mod.rs
**/generated/

interactive_engine/executor/store/groot/src/db/proto/*
!interactive_engine/executor/store/groot/src/db/proto/mod.rs
interactive_engine/data-load-tool/dependency-reduced-pom.xml
interactive_engine/gaia-adaptor/dependency-reduced-pom.xml
interactive_engine/neo4j-shaded/dependency-reduced-pom.xml
interactive_engine/executor/Cargo.lock
interactive_engine/executor/engine/pegasus/benchmark/src/graph/storage/clickhouse/pb_gen/*
interactive_engine/executor/ir/Cargo.lock

# pom generated by maven-flatten-plugin
**/.flattened-pom.xml

# java sdk
analytical_engine/java/**/dependency-reduced-pom.xml
analytical_engine/java/**/.ci-friendly-pom.xml

# GraphLearn
coordinator/graphlearn*

# Lock files
Chart.lock
**/Cargo.lock
package.lock

# Core dump
core.*
*.core

# Openapi generated code
python/graphscope/flex/rest

# Flex related
flex/docs/
flex/interactive/data/*
flex/interactive/logs/*
flex/interactive/examples/sf0.1-raw/
flex/interactive/.running
flex/interactive/.env

# interactive sdk related
flex/interactive/sdk/java/.github/
flex/interactive/sdk/java/.gitignore
flex/interactive/sdk/java/docs/
flex/interactive/sdk/java/build.sbt
flex/interactive/sdk/java/build.gradle
flex/interactive/sdk/java/gradle.properties
flex/interactive/sdk/java/gradlew.bat
flex/interactive/sdk/java/gradlew
flex/interactive/sdk/java/.travis.yml
flex/interactive/sdk/java/git_push.sh
flex/interactive/sdk/java/gradle/
flex/interactive/sdk/java/api/
flex/interactive/sdk/java/.openapi-generator/*
flex/interactive/sdk/java/src/main/AndroidManifest.xml
flex/interactive/sdk/java/.openapi-generate/
flex/interactive/sdk/java/settings.gradle
flex/interactive/sdk/java/reference/**
flex/interactive/sdk/java/src/main/java/com/alibaba/graphscope/interactive/models/
flex/interactive/sdk/java/src/main/java/com/alibaba/graphscope/interactive/api/
flex/interactive/sdk/java/src/main/java/com/alibaba/graphscope/interactive/auth/
flex/interactive/sdk/java/src/main/java/com/alibaba/graphscope/interactive/*.java


flex/interactive/sdk/python/.github/
flex/interactive/sdk/python/.gitignore
flex/interactive/sdk/python/docs/
flex/interactive/sdk/python/git_push.sh
flex/interactive/sdk/python/.gitlab-ci.yml
flex/interactive/sdk/python/.openapi-generator/
flex/interactive/sdk/python/dist/
flex/interactive/sdk/python/.travis.yml
flex/interactive/sdk/python/tox.ini
flex/interactive/sdk/python/pyproject.toml
flex/interactive/sdk/python/gs_interactive/models/
flex/interactive/sdk/python/gs_interactive/api/
flex/interactive/sdk/python/gs_interactive/__init__.py
flex/interactive/sdk/python/gs_interactive/api_client.py
flex/interactive/sdk/python/gs_interactive/api_response.py
flex/interactive/sdk/python/gs_interactive/configuration.py
flex/interactive/sdk/python/gs_interactive/exceptions.py
flex/interactive/sdk/python/gs_interactive/rest.py
!flex/interactive/sdk/python/gs_interactive/client/generated/__init__.py
!flex/interactive/sdk/python/gs_interactive/models/long_text.py


**/.cache/

**/*.ci-friendly-pom.xml
**/dependency-reduced-pom.xml
