MODERN.load.data.cmd=load_create_modern_by_grape.sh
GRATEFUL.load.data.cmd=load_create_grateful_by_grape.sh
CREW.load.data.cmd=load_create_crew_by_grape.sh
SINK.load.data.cmd=load_create_sink_by_grape.sh
manager.server.url=${manager.server.url}
engine.pod.hosts=${engine.pod.hosts}
engine.namespace=${engine.namespace}
engine.container.name=analytical
client.server.url=${client.server.url}