@media print {
    .rst-versions,
	.rst-versions,
	footer,
	.wy-nav-side {
		display: none
	}
	.wy-nav-content-wrap {
		margin-left: 0
	}
}

.wy-side-scroll {
	height: calc(100% - 142px) !important; /* 128 + 16 */
}

.rst-versions-ver {
    bottom: 128px !important;
}

.rst-versions.rst-versions-ver .rst-current-version {
	padding: 10px 0 12px 10px;
}

.rst-versions-lang {
    height: 128px !important;
}

.rst-versions {
	position: fixed;
	bottom: 0;
	/* left: 0; */
	width: 15em;
	/* color: #fcfcfc; */
	color: #000000;
	background-color: #f8f9fb;
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	z-index: 400
}

.rst-versions a {
	color: #2980B9;
	text-decoration: none
}

.rst-versions .rst-badge-small {
	display: none
}

.rst-versions .rst-current-version {
	/* padding: 12px; */
	padding: 0 0 0 12px;
	background-color: #272525;
	display: block;
	text-align: right;
	font-size: 80%;
	cursor: pointer;
	color: #27AE60;
	*zoom: 1
}

.rst-versions .rst-current-version:before,
.rst-versions .rst-current-version:after {
	display: table;
	content: ""
}

.rst-versions .rst-current-version:after {
	clear: both
}

.rst-versions .rst-current-version .fa,
.rst-versions .rst-current-version .wy-menu-vertical li span.toctree-expand,
.wy-menu-vertical li .rst-versions .rst-current-version span.toctree-expand,
.rst-versions .rst-current-version .rst-content .admonition-title,
.rst-content .rst-versions .rst-current-version .admonition-title,
.rst-versions .rst-current-version .rst-content h1 .headerlink,
.rst-content h1 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h2 .headerlink,
.rst-content h2 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h3 .headerlink,
.rst-content h3 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h4 .headerlink,
.rst-content h4 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h5 .headerlink,
.rst-content h5 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content h6 .headerlink,
.rst-content h6 .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content dl dt .headerlink,
.rst-content dl dt .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content p.caption .headerlink,
.rst-content p.caption .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content table>caption .headerlink,
.rst-content table>caption .rst-versions .rst-current-version .headerlink,
.rst-versions .rst-current-version .rst-content tt.download span:first-child,
.rst-content tt.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .rst-content code.download span:first-child,
.rst-content code.download .rst-versions .rst-current-version span:first-child,
.rst-versions .rst-current-version .icon {
	/* color: #fcfcfc */
	color: gray;
}

.rst-versions .rst-current-version .fa-book,
.rst-versions .rst-current-version .icon-book {
	float: left
}

.rst-versions .rst-current-version .icon-book {
	float: left
}

.rst-versions .rst-current-version.rst-out-of-date {
	background-color: #E74C3C;
	color: #fff
}

.rst-versions .rst-current-version.rst-active-old-version {
	background-color: #F1C40F;
	color: #000
}

.rst-versions.shift-up {
	height: auto;
	max-height: 100%
}

.rst-versions.shift-up .rst-other-versions {
	display: block;
	max-height: 12em;
	overflow-y: hidden;
}

.rst-versions .rst-other-versions {
	font-size: 90%;
	padding: 12px;
	color: gray;
	display: none;
}

.rst-versions .rst-other-versions hr {
	display: block;
	height: 1px;
	border: 0;
	/* margin: 20px 0; */
	padding: 0;
	border-top: solid 1px #413d3d
}

.rst-versions .rst-other-versions dd {
	display: inline-block;
	margin: 0
}

.rst-versions .rst-other-versions dd a {
	display: inline-block;
	padding: 6px;
	/* color: #fcfcfc */
	color: #000000
}

.rst-versions.rst-badge {
	width: auto;
	bottom: 20px;
	right: 20px;
	left: auto;
	border: none;
	max-width: 300px
}

.rst-versions.rst-badge .icon-book {
	float: none
}

.rst-versions.rst-badge .fa-book,
.rst-versions.rst-badge .icon-book {
	float: none
}

.rst-versions.rst-badge.shift-up .rst-current-version {
	text-align: right
}

.rst-versions.rst-badge.shift-up .rst-current-version .fa-book,
.rst-versions.rst-badge.shift-up .rst-current-version .icon-book {
	float: left
}

.rst-versions.rst-badge.shift-up .rst-current-version .icon-book {
	float: left
}

.rst-versions.rst-badge .rst-current-version {
	width: auto;
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	display: block;
	text-align: center
}

@media screen and (max-width: 768px) {
	.rst-versions {
		width: 85%;
		display: none
	}
	.rst-versions.shift {
		display: block
	}
}
