{"vertex_types":[{"type_id":{"id":1,"entity_type":"VERTEX"},"type_def":{"label":"person","properties":{"0":{"name":"ID","data_type":"LONG","comment":""}},"comment":"","property_map":{"ID":0},"property_index":1},"primary_keys":["ID"]}],"edge_types":[{"type_id":{"id":2,"entity_type":"EDGE"},"type_def":{"label":"knows","properties":{"0":{"name":"from","data_type":"LONG","comment":""},"1":{"name":"to","data_type":"LONG","comment":""}},"comment":"","property_map":{"from":0,"to":1},"property_index":2}}],"label_map":{"person":{"id":1,"entity_type":"VERTEX"},"knows":{"id":2,"entity_type":"EDGE"}},"type_relation_ship":[{"src_id":{"id":1,"entity_type":"VERTEX"},"dst_id":{"id":1,"entity_type":"VERTEX"},"edge_id":{"id":2,"entity_type":"EDGE"}}],"type_id_index":2,"partition_num":8}
