#!/bin/bash

BASE_DIR=$(dirname "$0")

GROOT=GROOT_HOME
/tmp/hadoop-2.10.1/bin/hadoop jar $GROOT/loader/data_load_tools-0.0.1-SNAPSHOT.jar com.alibaba.maxgraph.dataload.databuild.OfflineBuild $BASE_DIR/databuild.config

