[workspace]

members = [
    "bmcsr",
    "mcsr",
    "global_query",
    "groot",
    "exp_store",
    "graph_index",
]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units=1
# Don't change to "abort", since runtime rely on this to catch unexpected errors in worker threads.
panic = "unwind"

[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
# TODO(siyuan): re-enable debug assertions by addressing the reports for misaligned pointer
# dereferences https://github.com/rust-lang/rust/pull/98112/
# TODO(longbin): Recommend re-implementing encoder/decoder of groot using bincode
debug-assertions = false
codegen-units=1
panic = "abort"
