## Common Config
graph.name=maxgraph
role.name=
node.idx=
rpc.port=0
rpc.max.bytes.mb=4
store.node.count=1
frontend.node.count=1
ingestor.node.count=2
coordinator.node.count=1
ingestor.queue.count=2
partition.count=8
engine.type=maxgraph
discovery.mode=zookeeper

## Ingestor Config
ingestor.queue.buffer.size=128
ingestor.sender.buffer.size=128

## Coordinator Config
snapshot.increase.interval.ms=1000
offsets.persist.interval.ms=3000

## Store Config
store.data.path=./data
store.write.thread.count=1

## Zk Config
zk.base.path=/maxgraph/graph_test
zk.connect.string=graph_env:2181

## Kafka Config
kafka.servers=graph_env:9092
kafka.topic=graph_test

## Frontend Config
graph.store.type=maxgraph
gremlin.server.port=12312

executor.worker.per.process=2
executor.query.thread.count=2
executor.query.manager.thread.count=2
executor.query.store.thread.count=2
log4rs.config=./conf/log4rs.yml

dns.name.prefix.frontend=localhost
dns.name.prefix.ingestor=localhost
dns.name.prefix.coordinator=localhost
dns.name.prefix.store=localhost

#rpc.port=55555
#executor.graph.port=55556
#executor.query.port=55557
#executor.engine.port=55558