{{- if (include "graphscope-store.createConfigmap" .) }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "graphscope-store.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: configmap
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  groot.config: |-
    ## Common Config
    role.name=
    node.idx=
    rpc.port=0
    rpc.max.bytes.mb={{ .Values.rpcMaxBytesMb }}
    store.node.count={{ .Values.store.replicaCount }}
    frontend.node.count=1
    coordinator.node.count=1
    partition.count={{ .Values.store.replicaCount | mul 16 }}
    discovery.mode=zookeeper

    ## Frontend Config
    frontend.server.num=1
    enable.hash.generate.eid={{ .Values.enableHashGenerateEid }}

    ## Coordinator Config
    snapshot.increase.interval.ms={{ .Values.snapshotIncreaseIntervalMs }}
    offsets.persist.interval.ms={{ .Values.offsetsPersistIntervalMs }}
    file.meta.store.path={{ .Values.fileMetaStorePath }}
    log.recycle.enable={{ .Values.logRecycleEnable }}

    ## Store Config
    store.data.path={{ .Values.storeDataPath }}
    store.write.thread.count={{ .Values.storeWriteThreadCount }}
    store.queue.buffer.size={{ .Values.storeQueueBufferSize }}

    ## Frontend Config
    gremlin.server.port=12312
    ## disable neo4j when launching groot server by default
    neo4j.bolt.server.disabled=true

    dns.name.prefix.frontend=localhost
    dns.name.prefix.coordinator=localhost
    dns.name.prefix.store=localhost

    log4rs.config=LOG4RS_CONFIG

    ## Auth config
    auth.username={{ .Values.auth.username }}
    auth.password={{ .Values.auth.password }}

    # Pegasus config
    pegasus.worker.num={{ .Values.pegasus.worker.num }}
    pegasus.timeout={{ .Values.pegasus.timeout }}
    pegasus.batch.size=1024
    pegasus.output.capacity=16
    pegasus.hosts=localhost:8080

    ## Kafka Config
    kafka.servers=KAFKA_SERVERS
    kafka.topic={{ .Values.kafkaTopic }}
    kafka.producer.custom.configs={{ .Values.kafkaProducerCustomConfigs }}
    kafka.test.cluster.enable={{ not .Values.kafka.enabled }}

    ## Zk Config
    zk.base.path={{ .Values.zkBasePath }}
    zk.connect.string=ZK_CONNECT

    ## Secondary config
    secondary.instance.enabled={{ .Values.secondary.enabled }}
    store.data.secondary.path={{ .Values.secondary.storeDataPath }}
    store.gc.interval.ms={{ .Values.storeGcIntervalMs }}

    ## Extra Config
    {{- if .Values.extraConfig }}
    {{- $config_list := regexSplit ";" .Values.extraConfig -1 }}
    {{- range $config_list }}
    {{ . }}
    {{- end }}
    {{- end }}
  setup.sh: |-
    #!/bin/bash

    sudo chown -R graphscope:graphscope {{ .Values.storeDataPath }} || true
    sudo chown -R graphscope:graphscope /etc/groot || true

    until nslookup "${DNS_NAME_SERVICE_KAFKA}"; do
      echo "waiting for kafka...";
      sleep 1;
    done;

    sudo sed -e "s/KAFKA_SERVERS/${KAFKA_SERVERS}/g" \
             -e "s/ZK_CONNECT/${ZK_CONNECT}/g" \
             -e "s@LOG4RS_CONFIG@${GRAPHSCOPE_HOME}/groot/conf/log4rs.yml@g" \
    /etc/groot/groot.config.tpl | sudo tee -a /etc/groot/groot.config

    export LOG_NAME=graphscope-store
    export GROOT_CONF_FILE=/etc/groot/groot.config
    ${GRAPHSCOPE_HOME}/groot/bin/store_ctl.sh start
{{- end -}}
