etcd-distro>=3.5.1
graphscope-client>=0.11.0
grpcio;python_version>="3.11"
grpcio<=1.43.0,>=1.40.0;python_version<"3.11"
grpcio-tools;python_version>="3.11"
grpcio-tools<=1.43.0,>=1.40.0;python_version<"3.11"
kubernetes~=12.0.1
protobuf;python_version>="3.11"
protobuf>=3.15.0,<=3.18.1;python_version<"3.11"
PyYAML
vineyard>=0.11.1; sys_platform != "win32"
vineyard-io>=0.11.1; sys_platform != "win32"
prometheus-client>=0.14.1
setuptools>=65.5.1
packaging
tqdm
