etcd-distro>=3.5.1
graphscope-client>=0.20.0
grpcio>=1.49
grpcio-tools>=1.49
kubernetes>=24.2.0
protobuf>=4
PyYAML
vineyard>=0.14;sys_platform!="win32"
vineyard-io>=0.14;sys_platform!="win32"
prometheus-client>=0.14.1
# Avoid the `InvalidVersion` error of `setuptools`
# ref: https://github.com/pypa/setuptools/issues/3772
setuptools==65.7.0
packaging
tqdm
urllib3>=1.24.2,<2.0.0
