# Python
__pycache__/
*.pyc
.ipynb_checkpoints
*.egg-info/
*.egg/
build/
dist/
lib/

# Gar file
*.gar

# Protobuf GRPC
*.pb.*
*.pyi*
*_pb2.py
*_pb2_grpc.py

# Visual Studio Code
.vscode/

# Mac OSX
.DS_store

# CLion
.idea/
cmake-build-*/

# Workspace
workspace/

# generated_docs
docs/source/reference/
docs/_build/
