Cython==3.0a6
decorator>=5.1.0
gremlinpython>=3.4.9
grpcio
grpcio-tools
kubernetes
nest_asyncio
networkx<2.6
numpy
packaging
pandas
protobuf>=3.12.0
psutil
PyYAML
scipy
tqdm
vineyard>=0.3.8; sys_platform != "win32" and platform_machine == 'x86_64'
vineyard-io>=0.3.8; sys_platform != "win32" and platform_machine == 'x86_64'
