tomli
black==22.3.0
breathe>4.30
flake8==4.0.1
furo        # sphinx theme
isort==5.10.1
m2r2
pylint
pytest
pytest-cov
pytest-timeout
Pygments>=2.4.1
myst-parser>=0.13.0
sphinx>=4.1.0,<6
sphinx-copybutton
sphinx-panels
sphinxemoji
sphinxext-opengraph
docutils==0.16
wheel
