black>=23.3.0
breathe>4.30
docutils==0.16
flake8==4.0.1
furo        # sphinx theme
isort==5.10.1
linkify-it-py
myst-parser>=0.13.0
pylint
pytest
pytest-cov
pytest-timeout
Pygments>=2.4.1
sphinx>=4.1.0,<6
sphinx-copybutton
sphinx-panels
sphinxemoji
sphinxext-opengraph
tomli
wheel
