Cython==3.0a6
gremlinpython>=3.4.9
grpcio
grpcio-tools
kubernetes
nest_asyncio
networkx>=2.6
numpy
orjson
packaging
pandas
protobuf>=3.15.0,<3.19.0
psutil
pyarrow
PyYAML
scipy
tqdm
vineyard>=0.3.16; sys_platform != "win32"
vineyard-io>=0.3.16; sys_platform != "win32"
