## Common Config
role.name=
node.idx=
rpc.port=0
rpc.max.bytes.mb=4
store.node.count=1
executor_query.node.count=1
executor_graph.node.count=1
executor_manage.node.count=1
frontend.node.count=1
ingestor.node.count=2
coordinator.node.count=1
ingestor.queue.count=2
partition.count=1

## Ingestor Config
ingestor.queue.buffer.size=128
ingestor.sender.buffer.size=128

## Coordinator Config
snapshot.increase.interval.ms=500
offsets.persist.interval.ms=3000

## Store Config
store.data.path=./data
store.write.thread.count=1

zk.base.path=/maxgraph/graph_test
kafka.topic=graph_test

## Frontend Config
graph.store.type=maxgraph
gremlin.server.port=12312

engine.type=pegasus

executor.worker.per.process=2
executor.query.thread.count=2
executor.query.manager.thread.count=2
executor.query.store.thread.count=2
