<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
　　　　　 <encoder>
　　　　　　　　　<pattern>[%d{ISO8601}][%p][%t][%c:%L] %m%n</pattern>
　　　　　 </encoder>
　　　</appender>

    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.apache.curator" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />
    <logger name="com.salesforce.kafka" level="ERROR" />
    <logger name="org.apache.tinkerpop.gremlin.server" level="ERROR" />
    <logger name="kafka" level="ERROR" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
