[package]
name = "groot-ffi"
version = "0.1.0"
authors = ["graphscope@alibaba-inc.com"]
edition = "2018"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
global_query = { path = "../../store/global_query" }
groot-store = { path = "../../store/groot" }
gaia_pegasus = { path = "../../engine/pegasus/pegasus", package = "pegasus" }
pegasus_network = { path = "../../engine/pegasus/network" }
pegasus_server = { path = "../../engine/pegasus/server" }
log = "0.4"
runtime = {path = "../../ir/runtime"}
graph_proxy = {path = "../../ir/graph_proxy", features = ["with_global_query"]}
log4rs = "1.2"
tokio = { version = "1.24", features = ["macros", "sync"] }
tikv-jemallocator = {version = "0.5", default_features=false, features = ["profiling", "disable_initial_exec_tls"]}
# from https://github.com/lemonhx/mimalloc-rust
mimalloc-rust = {version = "0.2.1", optional = true}

[features]
mimalloc = ["mimalloc-rust"]
column_filter_push_down = []

[profile.dev]
# TODO(siyuan): re-enable debug assertions by addressing the reports for misaligned pointer dereferences https://github.com/rust-lang/rust/pull/98112/
debug-assertions = false

[profile.release-with-debug-info]
inherits = "release"
debug = true
