<configuration scan="true" scanPeriod="60 seconds">
    <property name="log_dir" value="${LOG_DIR:-/var/log/graphscope}"/>
    <property name="log_name" value="${LOG_NAME:-graphscope-store}"/>
    <property name="log_max_file_size" value="${LOG_MAX_FILE_SIZE:-100MB}"/>
    <property name="log_max_history" value="${LOG_MAX_HISTORY:-10}"/>
    <property name="log_total_size_cap" value="${LOG_TOTAL_SIZE_CAP:-1GB}"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/${log_name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/${log_name}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>${log_max_file_size}</maxFileSize>
            <maxHistory>${log_max_history}</maxHistory>
            <totalSizeCap>${log_total_size_cap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{ISO8601}][%p][%t][%c{3}] %m%n %X</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{ISO8601}][%p][%t][%c{3}] %m%n %X</pattern>
        </encoder>
    </appender>
    <appender name="Metric" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/metric.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/metric.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%m%n</pattern>
        </encoder>
    </appender>

    <appender name="PerfMetricLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/perf_metric.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/perf_metric.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>500MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{ISO8601}][%p][%t][%c:%L] %m%n</pattern>
        </encoder>
    </appender>

    <Logger name="PerfMetricLog" level="INFO" additivity="false">
        <appender-ref ref="PerfMetricLog"/>
    </Logger>

    <logger name="org.apache.zookeeper" level="ERROR" />
    <logger name="org.apache.kafka" level="ERROR" />
    <logger name="kafka" level="ERROR" />
    <logger name="io.grpc.netty" level="ERROR" />
    <Logger name="MetricLog" level="INFO" additivity="false">
        <appender-ref ref="Metric"/>
    </Logger>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
