name: Build GraphScope Wheels on MacOS

on:
  # Trigger the workflow on push or pull request, but only for the main branch
  push:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
      - '!scripts/deploy_local.sh'
      - 'tutorials/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
      - '!scripts/deploy_local.sh'
      - 'tutorials/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup tmate session
      if: false
      uses: mxschmitt/action-tmate@v2

    - name: Install Dependencies
      run: |
        /bin/bash ${GITHUB_WORKSPACE}/scripts/deploy_local.sh install_deps --verbose

        # avoid access node by DNS hostnames
        r=`cat /etc/hosts | grep $(hostname) || true`
        if [ -z "${r}" ];then export hn=$(hostname); sudo -E bash -c 'echo "127.0.0.1 ${hn}" >> /etc/hosts'; fi
        cat /etc/hosts

    - name: Build Wheel Package
      run: |
        # source environment variable
        source ~/.graphscope_env
        echo ${CC}

        cd k8s
        # graphscope
        sudo -E make graphscope-py3-package
        # graphscope client
        sudo -E make graphscope-client-py3-package

        # package
        cd ${GITHUB_WORKSPACE}
        tar -zcf client.tar.gz python/dist/*.whl
        tar -zcf graphscope.tar.gz coordinator/dist/wheelhouse/*.whl

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: wheel-macos-${{ github.sha }}
        path: |
          client.tar.gz
          graphscope.tar.gz
        retention-days: 5

  test:
    runs-on: ${{ matrix.os }}
    needs: [build]
    strategy:
      matrix:
        os: [macos-10.15]

    steps:
    - uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - uses: actions/download-artifact@v2
      with:
        path: artifacts

    - name: Run Test
      shell: bash
      run: |
        pushd artifacts
        # install graphscope-client
        tar -zxf ./wheel-macos-${{ github.sha }}/client.tar.gz
        pushd python/dist
        for f in * ; do pip3 install $f --user || true; done
        popd
        # install graphscope
        tar -zxf ./wheel-macos-${{ github.sha }}/graphscope.tar.gz
        pushd coordinator/dist/wheelhouse
        pip3 install ./*.whl --user
        popd
        popd

        # run test
        # waiting for graphlearn supported on macos
        # pip3 install pytest tensorflow --user;
        pip3 install pytest --user
        export PATH=/Users/runner/Library/Python/3.9/bin:${PATH}
        cp ${GITHUB_WORKSPACE}/python/tests/local/test_standalone.py /tmp/test_standalone.py
        python3 -m pytest -s -v /tmp/test_standalone.py
