name: Build GraphScope Wheels on MacOS

on:
  # Trigger the workflow on push or pull request, but only for the main branch
  push:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
      - 'tutorials/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
      - 'tutorials/**'

jobs:
  build-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup tmate session
      if: false
      uses: mxschmitt/action-tmate@v2

    - name: Install Dependencies
      run: |
        /bin/bash ${GITHUB_WORKSPACE}/scripts/install_deps.sh --dev --vineyard_prefix /opt/vineyard --verbose

    - name: Build Server Wheel
      run: |
        # source environment variable
        source ~/.graphscope_env
        echo ${CC}

        # build graphscope server wheel
        cd ${GITHUB_WORKSPACE}/k8s
        sudo -E make graphscope-py3-package

        # package
        cd ${GITHUB_WORKSPACE}
        tar -zcf graphscope.tar.gz coordinator/dist/wheelhouse/*.whl

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: wheel-macos-${{ github.sha }}
        path: graphscope.tar.gz
        retention-days: 5

  test:
    runs-on: ${{ matrix.os }}
    needs: [build-wheels]
    strategy:
      matrix:
        os: [macos-10.15]
        python-version: ['3.6', '3.7', '3.8', '3.9']

    steps:
    - uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - uses: actions/download-artifact@v2
      with:
        path: artifacts

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Test Client Wheel with ${{ matrix.python-version }}
      run: |
        python3 -c "import sys; print(sys.version)"

        # build graphscope client wheel
        cd ${GITHUB_WORKSPACE}/k8s
        make graphscope-client-py3-package

        # package
        cd ${GITHUB_WORKSPACE}
        tar -zcf client.tar.gz python/dist/*.whl

        # install client
        cd ${GITHUB_WORKSPACE}/python/dist
        for f in ./*.whl ; do python3 -m pip install $f --user || true; done

        # install graphscope
        cd ${GITHUB_WORKSPACE}/artifacts
        tar -zxf ./wheel-macos-${{ github.sha }}/graphscope.tar.gz
        pushd coordinator/dist/wheelhouse
        python3 -m pip install ./*.whl --user
        popd

        # run test
        # waiting for graphlearn supported on macos
        # pip3 install pytest "tensorflow<=2.5.2" --user;
        python3 -m pip install pytest --user
        # export PATH=/Users/runner/Library/Python/3.9/bin:${PATH}
        cp ${GITHUB_WORKSPACE}/python/tests/local/test_standalone.py /tmp/test_standalone.py
        python3 -m pytest -s -v /tmp/test_standalone.py

    - name: Upload Artifact
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: wheel-macos-${{ github.sha }}-${{ matrix.python-version }}
        path: client.tar.gz
        retention-days: 5
