name: GraphScope CI

on:
  # Trigger the workflow on push or pull request, but only for the main branch
  push:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        experimental: [ON, OFF]
        profile: [release]
    steps:
    - name: Clean up
      shell: bash
      run: |
        echo "CI is running on host $(curl -s 'https://api.ipify.org')"
        sudo docker ps --no-trunc -aqf "status=exited" | xargs sudo docker rm || true
        sudo docker images --no-trunc -aqf "dangling=true" | xargs sudo docker rmi -f || true
        sudo rm -rf ./* || true
        sudo rm -rf /tmp/graphscope/app_* || true
        find ./ -name "*.egg-info" | xargs sudo rm -rf || true
        find ./ -name "*.whl" | xargs sudo rm -rf || true
        find ./ -name "*_pb2.py" | xargs sudo rm -rf || true
        find ./ -name "*_pb2_grpc.py" | xargs sudo rm -rf || true

    - name: Check out code
      uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - name: Cpp Format And Lint Check
      run: |
        # install clang-format
        if [ ! -f /usr/bin/clang-format ]; then
            sudo curl -L https://github.com/muttleyxd/clang-tools-static-binaries/releases/download/master-22538c65/clang-format-8_linux-amd64 --output /usr/bin/clang-format
            sudo chmod +x /usr/bin/clang-format
        fi

        # run clang-format
        cd analytical_engine/
        find ./apps ./benchmarks ./core ./frame ./misc ./test  -name "*.h" | xargs clang-format -i --style=file
        find ./apps ./benchmarks ./core ./frame ./misc ./test  -name "*.cc" | xargs clang-format -i --style=file

        # validate format
        function prepend() { while read line; do echo "${1}${line}"; done; }

        GIT_DIFF=$(git diff --ignore-submodules)
        if [[ -n $GIT_DIFF ]]; then
            echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
            echo "| clang-format failures found!"
            echo "|"
            echo "$GIT_DIFF" | prepend "| "
            echo "|"
            echo "| Run: "
            echo "|"
            echo "|    make gsa_clformat"
            echo "|"
            echo "| to fix this error."
            echo "|"
            echo "| Ensure you are working with clang-format-8, which can be obtained from"
            echo "|"
            echo "|    https://github.com/muttleyxd/clang-tools-static-binaries/releases"
            echo "|"
            echo "~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~"
            exit -1
        fi

        # run cpplint
        python3 ./misc/cpplint.py --recursive ./apps ./benchmarks ./core ./frame ./test

    - name: Python Format and Lint Check
      run: |
        echo "Checking formatting for $GITHUB_REPOSITORY"
        pip3 install black==20.8b1 flake8==3.8.4 isort==5.5.4
        pushd python
        python3 -m isort --check --diff .
        python3 -m black --check --diff .
        python3 -m flake8 .
        popd
        pushd coordinator
        python3 -m isort --check --diff .
        python3 -m black --check --diff .
        python3 -m flake8 .

    - name: Get Test Data
      shell: bash
      run: |
        export GS_TEST_DIR=${GITHUB_WORKSPACE}/gstest
        git clone -b master --single-branch --depth=1 https://github.com/7br/gstest.git ${GS_TEST_DIR} || true

    - name: Build image
      shell: bash
      run: |
        sudo docker build --build-arg EXPERIMENTAL_ON=${{ matrix.experimental }} \
                          --build-arg profile=${{ matrix.profile }} \
                          --build-arg ci=${{ matrix.ci }} \
                          -t registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }}  \
                          --network=host \
                          -f ./k8s/graphscope.Dockerfile .

    - name: Run GAE Tests
      shell: bash
      run: |
      sudo docker run --rm --shm-size=4096m \
            -v ${GS_TEST_DIR}:/root/gstest \
            -v `pwd`:/root/gs \
            registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
            sh -c "echo Container id $(hostname) && \
                  set pipefail && \
                  export GS_TEST_DIR='/root/gstest' && \
                  cd /root/gs/analytical_engine && \
                  mkdir build && \
                  cd build && \
                  cmake -DEXPERIMENTAL_ON=${{ matrix.experimental }} .. && \
                  make run_app run_vy_app run_pregel_app -j`nproc` && \
                  bash /root/gs/analytical_engine/test/app_tests.sh --test_dir /root/gstest"

    - name: Save Image
      run: sudo docker save docker.pkg.github.com/siyuan0322/graphscope/graphscope:${{ github.sha }} | gzip > graphscope.tar.gz

    - name: Archive image
      if: matrix.experimental == 'ON'
      uses: actions/upload-artifact@v2
      with:
        name: graphscope
        path: graphscope.tar.gz
        retention-days: 5

    - name: Clean up
      shell: bash
      run: |
        sudo docker rmi registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} || true


  build-manager:
    # runs-on: ${{ matrix.os }}
    runs-on: self-hosted
    steps:
    - name: Clean up
      shell: bash
      run: |
        echo "CI is running on host $(curl -s 'https://api.ipify.org')"
        sudo docker ps --no-trunc -aqf "status=exited" | xargs sudo docker rm || true
        sudo docker images --no-trunc -aqf "dangling=true" | xargs sudo docker rmi -f || true
        sudo rm -rf ./* || true
        sudo rm -rf /tmp/graphscope/app_* || true
        find ./ -name "*.egg-info" | xargs sudo rm -rf || true
        find ./ -name "*.whl" | xargs sudo rm -rf || true
        find ./ -name "*_pb2.py" | xargs sudo rm -rf || true
        find ./ -name "*_pb2_grpc.py" | xargs sudo rm -rf || true

    - name: Check out code
      uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - name: Build manager
      shell: bash
      run: |
        cd ./k8s
        sudo make manager REGISTRY='registry.cn-hongkong.aliyuncs.com'

    - name: Save Image
      run: sudo docker save docker.pkg.github.com/siyuan0322/graphscope/maxgraph_standalone_manager:1.0 | gzip > maxgraph_standalone_manager.tar.gz

    - name: Archive image
      uses: actions/upload-artifact@v2
      with:
        name: maxgraph_standalone_manager
        path: maxgraph_standalone_manager.tar.gz
        retention-days: 5

    - name: Clean
      shell: bash
      run: |
        sudo docker rmi registry.cn-hongkong.aliyuncs.com/graphscope/maxgraph_standalone_manager:1.0 \
                        || true


  gae-and-python-tests:
    runs-on: self-hosted
    needs: [build, build-manager]
    strategy:
      matrix:
        experimental: [ON, OFF]

    steps:
    - name: Clean up
      shell: bash
      run: |
        echo "CI is running on host $(curl -s 'https://api.ipify.org')"
        sudo docker ps --no-trunc -aqf "status=exited" | xargs sudo docker rm || true
        sudo docker images --no-trunc -aqf "dangling=true" | xargs sudo docker rmi -f || true
        sudo rm -rf ./* || true
        sudo rm -rf /tmp/graphscope/app_* || true
        find ./ -name "*.egg-info" | xargs sudo rm -rf || true
        find ./ -name "*.whl" | xargs sudo rm -rf || true
        find ./ -name "*_pb2.py" | xargs sudo rm -rf || true
        find ./ -name "*_pb2_grpc.py" | xargs sudo rm -rf || true

    - name: Check out code
      uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - name: Cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Get Test Data
      shell: bash
      run: |
        export GS_TEST_DIR=${GITHUB_WORKSPACE}/gstest
        git clone -b master --single-branch --depth=1 https://github.com/7br/gstest.git ${GS_TEST_DIR} || true

    - name: Download Image
      uses: actions/download-artifact@v2
      with:
        name: graphscope

    - name: Prepare environment
      env:
        ALIYUN_TOKEN: ${{ secrets.ALIYUN_TOKEN }}
      shell: bash
      run: |
        sudo docker load < graphscope.tar.gz
        sudo python3 -m pip install -r python/requirements.txt
        sudo python3 -m pip install -r python/requirements-dev.txt

        pushd python && sudo -E python3 setup.py build_proto && popd
        pushd coordinator && sudo -E python3 setup.py build_builtin && popd

    - name: App Test with Expr Off
      shell: bash
      if: matrix.experimental == 'OFF'
      run: |
        sudo docker run --rm --shm-size=4096m \
             -v ${GITHUB_WORKSPACE}/gstest:/root/gstest \
             -v `pwd`:/root/gs \
             registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
             sh -c "echo Container id $(hostname) && \
                    set pipefail && \
                    export GS_TEST_DIR='/root/gstest' && \
                    python3 -m pytest --exitfirst -s -v /root/gs/python/tests"

    - name: App Test with Expr On
      shell: bash
      if: matrix.experimental == 'ON'
      run: |
        sudo docker run --rm --shm-size=4096m \
             -v ${GITHUB_WORKSPACE}/gstest:/root/gstest \
             -v `pwd`/python:/root/python \
             registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
             sh -c "echo Container id $(hostname) && \
                    set pipefail && \
                    cd /root/python && \
                    export GS_TEST_DIR='/root/gstest' && \
                    python3 -m pytest --exitfirst -s -v ./graphscope/experimental/nx/tests/classes && \
                    python3 -m pytest --exitfirst -s -v ./graphscope/experimental/nx/tests/test_nx.py && \
                    python3 -m pytest --exitfirst -s -v ./graphscope/experimental/nx/tests/algorithms/builtin \
                                                        ./graphscope/experimental/nx/tests/test_utils.py"

    - name: NetworkX algo test
      shell: bash
      if: matrix.experimental == 'ON'
      run: |
        info=$(git log -1 --pretty=%B)
        if echo ${info} | grep -iqFw ci-algo; then echo ''run nx-algo-ci''; else exit 0; fi
        sudo docker run --rm --shm-size=4096m \
             -v ${GITHUB_WORKSPACE}/gstest:/root/gstest \
             -v `pwd`/python:/root/python \
             registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
             sh -c "set pipefail && \
                    cd /root/python && \
                    export GS_TEST_DIR='/root/gstest' && \
                    python3 -m pytest --exitfirst -s -v graphscope/experimental/nx/tests/algorithms/forward"

    - name: Clean
      shell: bash
      run: |
        sudo docker rmi registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} || true


  k8s-test:
    runs-on: self-hosted

    needs: [build, build-manager]
    steps:
    - name: Clean up
      shell: bash
      run: |
        echo "CI is running on host $(curl -s 'https://api.ipify.org')"
        sudo docker ps --no-trunc -aqf "status=exited" | xargs sudo docker rm || true
        sudo docker images --no-trunc -aqf "dangling=true" | xargs sudo docker rmi -f || true
        sudo rm -rf ./* || true
        find ./ -name "*.egg-info" | xargs sudo rm -rf || true
        find ./ -name "*.whl" | xargs sudo rm -rf || true
        find ./ -name "*_pb2.py" | xargs sudo rm -rf || true
        find ./ -name "*_pb2_grpc.py" | xargs sudo rm -rf || true

    - name: Check out code
      uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - name: Cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Get Test Data
      shell: bash
      run: |
        export GS_TEST_DIR=${GITHUB_WORKSPACE}/gstest
        git clone -b master --single-branch --depth=1 https://github.com/7br/gstest.git ${GS_TEST_DIR} || true

    - name: Download Image
      uses: actions/download-artifact@v2

    - name: Prepare environment
      shell: bash
      run: |
        sudo docker load < graphscope/graphscope.tar.gz
        sudo docker load < maxgraph_standalone_manager/maxgraph_standalone_manager.tar.gz
        sudo python3 -m pip install -r python/requirements.txt
        sudo python3 -m pip install -r python/requirements-dev.txt

        pushd python && sudo -E python3 setup.py develop && popd

    - name: Kubernetes test
      env:
        CHANGE_MINIKUBE_NONE_USER: true
        GS_IMAGE: registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }}
      shell: bash
      run: |
        export GS_TEST_DIR=${GITHUB_WORKSPACE}/gstest
        export PYTHONPATH=${GITHUB_WORKSPACE}/python
        python3 -m pytest --exitfirst -s -vvv --log-cli-level=INFO \
                          ./python/graphscope/deploy/tests/

    - name: Clean
      shell: bash
      run: |
        sudo docker rmi registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
                        registry.cn-hongkong.aliyuncs.com/graphscope/maxgraph_standalone_manager:1.0 || true


  gie-test:
    runs-on: self-hosted
    needs: [build, build-manager]
    steps:
    - name: Clean up
      shell: bash
      run: |
        echo "CI is running on host $(curl -s 'https://api.ipify.org')"
        sudo docker ps --no-trunc -aqf "status=exited" | xargs sudo docker rm || true
        sudo docker images --no-trunc -aqf "dangling=true" | xargs sudo docker rmi -f || true
        sudo rm -rf ./* || true
        sudo rm -rf /tmp/graphscope/app_* || true
        find ./ -name "*.egg-info" | xargs sudo rm -rf || true
        find ./ -name "*.whl" | xargs sudo rm -rf || true
        find ./ -name "*_pb2.py" | xargs sudo rm -rf || true
        find ./ -name "*_pb2_grpc.py" | xargs sudo rm -rf || true

    - name: Check out code
      uses: actions/checkout@v2.3.2
      with:
        submodules: true

    - name: Cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Download Image
      uses: actions/download-artifact@v2

    - name: Prepare environment
      shell: bash
      run: |
        sudo docker load < graphscope/graphscope.tar.gz
        sudo docker load < maxgraph_standalone_manager/maxgraph_standalone_manager.tar.gz

        sudo python3 -m pip install -r python/requirements.txt
        sudo python3 -m pip install -r python/requirements-dev.txt
        pushd python && sudo -E python3 setup.py develop && popd

    - name: Run function test
      shell: bash
      run: |
        export PYTHONPATH=${GITHUB_WORKSPACE}/python
        cd interactive_engine/tests
        ./function_test.sh 8111 1 registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }}
        ./function_test.sh 8111 2 registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }}

    - name: Clean
      shell: bash
      run: |
        sudo docker rmi registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
                        registry.cn-hongkong.aliyuncs.com/graphscope/maxgraph_standalone_manager:1.0 || true


  release-image:
    runs-on: self-hosted
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    needs: [ gie-test, gae-and-python-tests, k8s-test ]
    steps:
    - name: Download Image
      uses: actions/download-artifact@v2

    - name: Prepare environment
        sudo docker load < graphscope/graphscope.tar.gz
        sudo docker load < maxgraph_standalone_manager/maxgraph_standalone_manager.tar.gz

    - name: Release images
      shell: bash
      run: |
        echo ${{ secrets.ALIYUN_TOKEN }} | sudo docker login --username=grape_dev registry.cn-hongkong.aliyuncs.com --password-stdin

        sudo docker tag registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:${{ github.sha }} \
                        registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:latest
        sudo docker push registry.cn-hongkong.aliyuncs.com/graphscope/graphscope:latest
        sudo docker push registry.cn-hongkong.aliyuncs.com/graphscope/maxgraph_standalone_manager:1.0

