name: GraphScope Flex CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'flex/**'
      - '.github/workflows/flex.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'flex/**'
      - '.github/workflows/flex.yml'

concurrency:
  group: ${{ github.repository }}-${{ github.event.number || github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  test-build-flex:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-22.04]
        platform: [x86_64]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        cd ${GITHUB_WORKSPACE}/flex
        bash ./scripts/install_dependencies.sh 4

    - name: Setup tmate session
      if: false
      uses: mxschmitt/action-tmate@v2

    - name: Build
      run: |
        cd ${GITHUB_WORKSPACE}/flex
        git submodule update --init
        mkdir build && cd build # only test default build
        cmake .. -DCMAKE_BUILD_TYPE=DEBUG -DBUILD_DOC=OFF && sudo make -j 4

  # test the different combination of cmake options: -DBUILD_HQPS=ON/OFF -DBUILD_TEST=ON/OFF, -DBUILD_ODPS_FRAGMENT_LOADER=ON/OFF
  test-cmake-options:
    runs-on: ubuntu-20.04
    container:
      image: registry.cn-hongkong.aliyuncs.com/graphscope/hqps-server-base:v0.0.9
    strategy:
      matrix:
        BUILD_HQPS: [ON, OFF]
        BUILD_TEST: [ON, OFF]
        BUILD_ODPS_FRAGMENT_LOADER: [ON, OFF]
    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: |
        cd ${GITHUB_WORKSPACE}/flex
        git submodule update --init
        mkdir build && cd build
        cmake .. -DBUILD_HQPS=${{ matrix.BUILD_HQPS }} -DBUILD_TEST=${{ matrix.BUILD_TEST }} \
                 -DBUILD_ODPS_FRAGMENT_LOADER=${{ matrix.BUILD_ODPS_FRAGMENT_LOADER }}
        sudo make -j4

  test-AOCC-compilation:
    runs-on: ubuntu-20.04
    container:
      image: registry.cn-hongkong.aliyuncs.com/graphscope/hqps-server-base:v0.0.9
    steps:
    - uses: actions/checkout@v3

    - name: Download aocc compiler
      run: |
        cd ${GITHUB_WORKSPACE}/flex
        wget https://download.amd.com/developer/eula/aocc/aocc-4-1/aocc-compiler-4.1.0_1_amd64.deb
        sudo apt-get update && sudo apt-get install libncurses-dev libncurses5-dev
        sudo dpkg -i aocc-compiler-4.1.0_1_amd64.deb
    
    - name: Test AOCC compiler
      env:
        CC: clang
        CXX: clang++
        OMPI_CC: clang
        OMPI_CXX: clang++
      run: |
        . /opt/AMD/aocc-compiler-4.1.0/setenv_AOCC.sh
        cd ${GITHUB_WORKSPACE}/flex
        git submodule update --init
        mkdir build && cd build
        cmake .. -DBUILD_DOC=OFF -DCMAKE_BUILD_TYPE=DEBUG
        sudo make -j4

  test-flex:
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'alibaba/GraphScope' }}
    container:
      image: registry.cn-hongkong.aliyuncs.com/graphscope/hqps-server-base:v0.0.9
    steps:
    - uses: actions/checkout@v3

    - name: Install latest libgrape-lite
      if: false
      run: |
        git clone --single-branch https://github.com/alibaba/libgrape-lite.git /tmp/libgrape-lite
        cd /tmp/libgrape-lite
        mkdir -p build && cd build
        cmake ..
        make -j$(nproc)
        make install

    - name: Build
      env:
        HOME: /home/graphscope/
      run: |
        cd ${GITHUB_WORKSPACE}/flex
        git submodule update --init
        mkdir build && cd build
        cmake .. && sudo make -j$(nproc)

    - name: Test GRIN on mutable csr 
      run: |
        git submodule update --init
        cd flex/engines/graph_db/grin
        mkdir build && cd build
        cmake .. && sudo make -j$(nproc)
        export FLEX_DATA_DIR=../../../../interactive/examples/modern_graph/
        ${GITHUB_WORKSPACE}/flex/build/bin/bulk_loader -g ../../../../interactive/examples/modern_graph/modern_graph.yaml -l ../../../../interactive/examples/modern_graph/bulk_load.yaml -d ./data/
        rm -r ./data/wal
        rm -r ./data/runtime/*
        ./run_grin_test 'flex://schema_file=../../../../interactive/examples/modern_graph/modern_graph.yaml&data_dir=./data/'

    - name: Prepare test dataset
      env:
        GS_TEST_DIR: ${{ github.workspace }}/gstest/
      run: |
        git clone -b master --single-branch --depth=1 https://github.com/GraphScope/gstest.git ${GS_TEST_DIR}

    - name: Test String edge property on modern graph
      env:
        FLEX_DATA_DIR: ${{ github.workspace }}/flex/interactive/examples/modern_graph/
      run: |
        rm -rf /tmp/csr-data-dir/
        cd ${GITHUB_WORKSPACE}/flex/build/
        SCHEMA_FILE=../tests/rt_mutable_graph/modern_graph_string_edge.yaml 
        BULK_LOAD_FILE=../interactive/examples/modern_graph/bulk_load.yaml
        GLOG_v=10 ./bin/bulk_loader  -g ${SCHEMA_FILE} -l ${BULK_LOAD_FILE} -d /tmp/csr-data-dir/
        GLOG_v=10 ./tests/rt_mutable_graph/string_edge_property_test ${SCHEMA_FILE} /tmp/csr-data-dir/

    - name: Test build empty graph
      run: |
        rm -rf /tmp/csr-data-dir/
        cd ${GITHUB_WORKSPACE}/flex/build/
        GLOG_v=10 ./tests/rt_mutable_graph/test_empty_graph /tmp/csr-data-dir/
    - name: Test ACID
      run: |
        rm -rf /tmp/csr-data-dir/
        cd ${GITHUB_WORKSPACE}/flex/build/
        GLOG_v=10 ./tests/rt_mutable_graph/test_acid 8 /tmp/csr-data-dir/

    - name: Test Graph Loading on modern graph
      env:
        FLEX_DATA_DIR: ${{ github.workspace }}/flex/interactive/examples/modern_graph/
      run: |
        rm -rf /tmp/csr-data-dir/
        cd ${GITHUB_WORKSPACE}/flex/build/
        SCHEMA_FILE=../interactive/examples/modern_graph/modern_graph.yaml
        BULK_LOAD_FILE=../interactive/examples/modern_graph/bulk_load.yaml
        GLOG_v=10 ./bin/bulk_loader  -g ${SCHEMA_FILE} -l ${BULK_LOAD_FILE} -d /tmp/csr-data-dir/

    - name: Test Graph Loading on type_test graph
      env:
        GS_TEST_DIR: ${{ github.workspace }}/gstest/
        FLEX_DATA_DIR: ${{ github.workspace }}/gstest/flex/type_test/
      run: |
        # remove modern graph indices
        rm -rf /tmp/csr-data-dir/

        cd ${GITHUB_WORKSPACE}/flex/build/
        SCHEMA_FILE=${GS_TEST_DIR}/type_test/graph.yaml
        BULK_LOAD_FILE=${GS_TEST_DIR}/type_test/import.yaml
        GLOG_v=10 ./bin/bulk_loader -g ${SCHEMA_FILE} -l ${BULK_LOAD_FILE} -d /tmp/csr-data-dir/ -p 2

    - name: Test Graph Loading on LDBC SNB sf0.1
      env:
        GS_TEST_DIR: ${{ github.workspace }}/gstest/
        FLEX_DATA_DIR: ${{ github.workspace }}/gstest/flex/ldbc-sf01-long-date/
      run: |
        # remove previous graph indices
        rm -rf /tmp/csr-data-dir/

        cd ${GITHUB_WORKSPACE}/flex/build/
        SCHEMA_FILE=${FLEX_DATA_DIR}/audit_graph_schema.yaml
        BULK_LOAD_FILE=${FLEX_DATA_DIR}/audit_bulk_load.yaml
        GLOG_v=10 ./bin/bulk_loader -g ${SCHEMA_FILE} -l ${BULK_LOAD_FILE} -d /tmp/csr-data-dir/ -p 2
