name: GraphScope Flex CI

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'flex/**'
      - '.github/workflows/flex.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'flex/**'
      - '.github/workflows/flex.yml'

concurrency:
  group: ${{ github.repository }}-${{ github.event.number || github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build-flex:
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'alibaba/GraphScope' }}
    container:
      image: registry.cn-hongkong.aliyuncs.com/graphscope/hqps-server-base:v0.0.4
    steps:
    - uses: actions/checkout@v3

    - name: Install latest libgrape-lite
      if: false
      run: |
        git clone --single-branch https://github.com/alibaba/libgrape-lite.git /tmp/libgrape-lite
        cd /tmp/libgrape-lite
        mkdir -p build && cd build
        cmake ..
        make -j$(nproc)
        make install

    - name: Build
      env:
        HOME: /home/graphscope/
      run: |
        cd ${GITHUB_WORKSPACE}/flex
        mkdir build && cd build
        cmake .. && sudo make -j$(nproc)

    - name: GRIN on mutable csr test
      run: |
        git submodule update --init
        cd flex/engines/graph_db/grin
        mkdir build && cd build
        cmake .. && sudo make -j$(nproc)
        export FLEX_DATA_DIR=../../../../storages/rt_mutable_graph/modern_graph/
        ./run_grin_test
