name: GraphScope Store CI (Dummy)

on:
  pull_request:
    branches:
      - main
    paths:
      - '**'
      - '!proto/**'
      - '!interactive_engine/**'
      - '!python/graphscope/client/**'
      - '!charts/graphscope-store/**'
      - '!research/**'
      - '!.github/workflows/gss.yml'
      - 'interactive_engine/**.md'
      - 'charts/graphscope-store/**.md'

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

env:
  GSS_IMAGE: registry.cn-hongkong.aliyuncs.com/graphscope/graphscope-store

jobs:
  gremlin-test:
    # Require the host is able to run docker without sudo and
    # can `ssh localhost` without password, which may need to
    # be configured manually when a new self-hosted runner is added.
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'alibaba/GraphScope' }}
    steps:
    - run: 'echo "No action required" '

  helm-test:
    runs-on: ubuntu-20.04
    if: ${{ github.repository == 'alibaba/GraphScope' }}
    needs: [gremlin-test]
    strategy:
      matrix:
        executor: [maxgraph]
    steps:
    - run: 'echo "No action required" '
