name: GraphScope CI on Local

on:
  # Trigger the workflow on push or pull request, but only for the main branch
  push:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
      - '!scripts/deploy_local.sh'
      - 'tutorials/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'gnn_engine/**'
      - '**.md'
      - '**.rst'
      - 'docs/**'
      - 'scripts/**'
      - '!scripts/deploy_local.sh'
      - 'tutorials/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Setup tmate session
      if: false
      uses: mxschmitt/action-tmate@v2

    - name: Install Dependencies of GraphScope
      run: |
        /bin/bash ${GITHUB_WORKSPACE}/scripts/deploy_local.sh install_deps --verbose

        # avoid access node by DNS hostnames
        r=`cat /etc/hosts | grep $(hostname) || true`
        if [ -z "${r}" ];then export hn=$(hostname); sudo -E bash -c 'echo "127.0.0.1 ${hn}" >> /etc/hosts'; fi
        cat /etc/hosts

    - name: Setup tmate session
      if: false
      uses: mxschmitt/action-tmate@v2

    - name: Build GraphScope
      run: |
        /bin/bash ${GITHUB_WORKSPACE}/scripts/deploy_local.sh build_and_deploy --verbose

    - name: Run Local Test
      env:
        OS : ${{ matrix.os }}
      run: |
        source ~/.graphscope_env
        export GRAPHSCOPE_HOME=/usr/local

        # install tensorflow for graphlearn if os is ubuntu20.04
        if [ "${OS}" == "ubuntu-20.04" ];
        then
            pip3 install pytest tensorflow --user;
        fi

        # prelaunch the etcd
        /usr/local/bin/etcd --data-dir=/tmp/default.etcd&

        export GS_TEST_DIR=${GITHUB_WORKSPACE}/gstest
        git clone -b master --single-branch --depth=1 https://github.com/7br/gstest.git ${GS_TEST_DIR}
        # Copy test_run_locally.py out of graphscope to enable import graph-learn from system path
        cp ${GITHUB_WORKSPACE}/python/tests/local/test_run_locally.py /tmp/test_run_locally.py
        rm -rf ~/.ccache ~/.m2 ~/.cargo || true
        python3 -m pytest -s -v /tmp/test_run_locally.py

        # delete etcd dir
        rm -fr /tmp/default.etcd || true

    - name: DEBUG
      if: false
      uses: mxschmitt/action-tmate@v2

    - name: Run Gaia on Vineyard Store Test
      if: matrix.os == 'ubuntu-20.04'
      run: |
        source ~/.graphscope_env
        export GRAPHSCOPE_HOME=/usr/local
        export GS_TEST_DIR=${GITHUB_WORKSPACE}/gstest
        # run test
        cd interactive_engine/src/gaia-adaptor && ./gaia_on_vineyard_test.sh

    - name: Run Gaia on Maxgraph Store Test
      if: matrix.os == 'ubuntu-20.04'
      run: |
        source ~/.graphscope_env
        export GRAPHSCOPE_HOME=/usr/local
        # run test
        cd interactive_engine/src/gaia-adaptor && ./gremlin_test.sh

    - name: Upload GIE Log
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: gie-log
        path: /tmp/graphscope/

    - name: Setup tmate session debug
      if: false
      uses: mxschmitt/action-tmate@v2
